USE [master]
GO
/****** Object:  Database [CovidPatientManagerDTB]    Script Date: 8/30/2021 11:30:20 PM ******/
CREATE DATABASE [CovidPatientManagerDTB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CovidPatientManagerDTB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CovidPatientManagerDTB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CovidPatientManagerDTB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CovidPatientManagerDTB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CovidPatientManagerDTB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CovidPatientManagerDTB]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[ID] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[CMND] [nchar](15) NOT NULL,
	[NamSinh] [nchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[IDDiaDiemDieuTri] [nvarchar](30) NOT NULL,
	[LienQuan] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiemDieuTri]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiemDieuTri](
	[IDDiaDiemDieuTri] [nvarchar](30) NOT NULL,
	[TenDiemDieuTri] [nvarchar](200) NULL,
	[SucChua] [nvarchar](10) NULL,
	[HienTai] [nvarchar](10) NULL,
 CONSTRAINT [PK_DiaDiemDieuTri] PRIMARY KEY CLUSTERED 
(
	[IDDiaDiemDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuBenhNhan]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBenhNhan](
	[NUM] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nchar](10) NOT NULL,
	[NgayThang] [nvarchar](50) NOT NULL,
	[LichSu] [nvarchar](max) NOT NULL,
	[TaiKhoan] [nchar](30) NOT NULL,
 CONSTRAINT [PK_LichSuBenhNhan] PRIMARY KEY CLUSTERED 
(
	[NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTaiKhoan]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTaiKhoan](
	[NUM] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nchar](30) NOT NULL,
	[NgayThang] [nvarchar](50) NOT NULL,
	[LichSu] [nvarchar](max) NOT NULL,
	[IDDiaDiemDieuTri] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LichSuTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nchar](30) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[Quyen] [nvarchar](50) NOT NULL,
	[Active] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VietNam]    Script Date: 8/30/2021 11:30:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VietNam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenThanhPho] [nvarchar](50) NOT NULL,
	[TenQuan] [nvarchar](50) NOT NULL,
	[TenPhuong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VietNam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhan_DiaDiemDieuTri] FOREIGN KEY([IDDiaDiemDieuTri])
REFERENCES [dbo].[DiaDiemDieuTri] ([IDDiaDiemDieuTri])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [FK_BenhNhan_DiaDiemDieuTri]
GO
ALTER TABLE [dbo].[LichSuBenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuBenhNhan_BenhNhan] FOREIGN KEY([ID])
REFERENCES [dbo].[BenhNhan] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuBenhNhan] CHECK CONSTRAINT [FK_LichSuBenhNhan_BenhNhan]
GO
ALTER TABLE [dbo].[LichSuBenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuBenhNhan_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuBenhNhan] CHECK CONSTRAINT [FK_LichSuBenhNhan_TaiKhoan]
GO
ALTER TABLE [dbo].[LichSuTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTaiKhoan_TaiKhoan] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTaiKhoan] CHECK CONSTRAINT [FK_LichSuTaiKhoan_TaiKhoan]
GO
USE [master]
GO
